html {
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-primary: #0c0330;
    --color-secondary: #ff001e;
    --color-terciary: #fffb00;
    --color-fondos: #f9f9ff;
    --color-relleno: green;
}


/* ESTILOS GENERALES */

* {
    box-sizing: border-box;
}

h1 {
    color: #FFFFFF;
    font-size: 26px;
}

.titulo-principal {
    font-size: 28px;
    margin: 38px 0;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*Con esta propiedas ocultamos el contenido que se va fuera del viewport */
}


/* NAVBAR */

.navbar-container__mobile {
    display: none;
    position: sticky;
}

.navbar-container__desktop {
    min-width: 290px;
    max-width: 290px;
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    padding: 60px 50px 103px;
    background-color: #000000
}

.lista-navbar {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
}

.lista-navbar a {
    height: 32px;
    margin: 8px 0;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 8px;
}

.lista-navbar a:hover {
    color: var(--color-terciary);
}

.lista-navbar i {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-terciary);
    margin-right: 16px;
}

.full-container {
    overflow-y: scroll;
    /*Con esta propiedad logramos que el eje y de nuestra pagina sea scrolleable */
    scroll-behavior: smooth;
    /*Con esta propiedad logramos que las anclas de nuestra pagina se vean "suavizadas"*/
    width: 100%;
    height: 100%;
}


/* BANNER */

.banner-container {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: var(--color-primary);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image {
    height: 100%;
    width: 100%;
    background-image: url("../img/fondo.svg");
    position: absolute;
}

.banner-container-main {
    z-index: 1;
}

.banner-container-main img {
    width: 108px;
    height: 108px;
}

.banner-container-main h2 {
    font-size: 28px;
    margin-top: 65px;
    margin-bottom: 18px;
}

.banner-container-main span {
    font-weight: 300;
}

.redes-sociales {
    margin: 18px 0 24px;
}

.redes-sociales a {
    margin-right: 16px;
    color: #FFFFFF;
    font-size: 25px;
}

.redes-sociales a:hover {
    color: var(--color-terciary);
}

.redes-sociales a:last-child {
    margin-right: 0;
}

.boton-small {
    height: 42px;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 21px;
    width: 130px;
}

.boton-small:hover {
    background-color: #cc0e24;
}

.boton-small a {
    text-decoration: none;
    color: #FFFFFF;
}

.banner-container__scroll {
    position: absolute;
    bottom: 26px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container__scroll:hover {
    margin-bottom: 10px;
}

.banner-container__scroll span {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
}

.banner-container__scroll img {
    width: 16px;
    margin-top: 12px;
}


/*SOBRE MI*/

.container {
    padding: 60px 55px;
    background-color: #f1f1f1;
    margin: auto;
}

.sobre-mi {
    display: flex;
    justify-content: space-between;
}

.sobre-mi img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.contenido-sobremi {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descripcion-sobremi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.descripcion-sobremi span {
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.7;
}

.curriculum {
    height: 42px;
    background-color: var(--color-secondary);
    border: none;
    border-radius: 21px;
    width: 160px;
}

.curriculum:hover {
    background-color: #cc0e24;
}

.curriculum a {
    text-decoration: none;
    color: #FFFFFF;
}


/* SKILLS */

.card-skills {
    width: 50%;
}

.contenido-skills {
    margin-bottom: 20px;
}

.contenido-skills h3 {
    margin: 0 0 20px;
}

.barra-progreso {
    height: 7px;
    margin-bottom: 0;
    background-color: var(--color-fondos);
    overflow: hidden;
    position: relative;
    border-radius: 7px;
}

.barra-progreso-incompleta {
    position: absolute;
    height: 7px;
}

.contenido-skills:nth-child(1) .barra-progreso-incompleta {
    width: 90%;
    background-color: var(--color-relleno);
    border-radius: 7px;
}

.contenido-skills:nth-child(2) .barra-progreso-incompleta {
    width: 80%;
    background-color: var(--color-terciary);
    border-radius: 7px;
}

.contenido-skills:nth-child(3) .barra-progreso-incompleta {
    width: 70%;
    background-color: var(--color-secondary);
    border-radius: 7px;
}

.contenido-skills:last-child {
    margin-bottom: 0;
}

@keyframes progreso {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.barra-progreso {
    animation: progreso 4s linear;
}


/*SERVICES*/

.cards-servicios {
    display: flex;
}

.servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin-right: 52px;
    width: 33.33%;
}

.servicios:nth-child(odd) {
    color: #FFFFFF;
}

.servicios:last-child {
    margin-right: 0;
}

.card-servicios-titulo {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin: 22px 0;
}

.card-html {
    background-color: var(--color-relleno);
    box-shadow: 0px 5px 20px 0px var(--color-relleno);
}

.card-css {
    background-color: var(--color-terciary);
    box-shadow: 0px 5px 20px 0px var(--color-terciary);
}

.card-ux {
    background-color: var(--color-secondary);
    box-shadow: 0px 5px 20px 0px var(--color-secondary)
}


/*EXPERIENCE*/

.container-estudios {
    display: flex;
    justify-content: space-between;
}

.card-estudios {
    width: 50%;
    padding: 30px;
    background-color: #FFFFFF;
    margin-right: 20px;
    border-radius: 20px;
}

.card-estudios:last-child {
    margin-right: 0;
}

.data-estudios {
    padding: 0 0 50px 50px;
    border-left: 1px solid var(--color-secondary);
    position: relative;
    display: flex;
    flex-direction: column;
}

.data-estudios:last-child {
    margin-right: 0;
}

.data-estudios>i {
    position: absolute;
    left: -8px;
    top: 0;
    color: var(--color-secondary);
}

.year {
    font-size: 14px;
    font-weight: 300;
}

.academia {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}

.descripcion-estudios {
    font-weight: 300;
    margin: 0;
    text-align: justify;
}


/* WORKS */

.container-trabajos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-trabajos {
    position: relative;
    background-color: #FFFFFF;
    width: 30%;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-trabajos:hover>.trabajos_mask {
    opacity: 0.9;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    padding: 50px 0 0 30px;
}

.trabajos_mask {
    position: absolute;
    background: #6c6ce5;
    opacity: 0;
    /*Con esta propiedad le cambiamos la transparencia a nuestas cajas*/
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 20px;
}

.card-trabajos img {
    width: 100%;
    height: 200px;
}

.volver {
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 400;
}

.works-container button {
    margin-left: 40%;
}


/* CONTACTME */

.container-contacto {
    display: flex;
    justify-content: space-between;
}

.container-descripcion-contacto {
    flex-direction: column;
    width: 30%;
}

.mensaje {
    font-size: 18px;
    font-weight: 400;
}

.descripcion-contacto {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.formulario {
    width: 60%;
}

.formulario-input {
    display: flex;
    margin-bottom: 20px;
}

.formulario-input>label>input,
.area-texto>textarea {
    border-radius: 30px;
    border: none;
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 20px;
}

.formulario-input>label {
    width: 100%;
    margin-right: 20px;
}

.formulario-input>label:last-child {
    margin-right: 0;
}

textarea {
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

input,
.submit,
textarea:focus {
    outline: none;
}

.submit {
    color: #FFFFFF;
    margin-top: 10px;
}


/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #000000;
    padding: 0 170px;
}

.footer span {
    color: #FFFFFF;
}

.redes-footer a {
    margin-right: 16px;
    color: #FFFFFF;
    font-size: 20px;
}

.redes-footer a:hover {
    color: var(--color-terciary);
}

.redes-footer a:last-child {
    margin-right: 0;
}


/* RESPONSIVE */

@media (max-width: 1000px) {
    .container {
        max-width: initial;
        width: 100%;
        padding: 40px 20px;
    }
    .full-container {
        background-color: #000000;
    }
    .navbar-container__desktop {
        display: none;
    }
    .navbar-container__mobile {
        display: unset;
        background-color: var(--color-primary);
    }
    .navbar-open i {
        color: var(--color-terciary);
        font-size: 20px;
        margin: 20px;
    }
    .navbar-close i {
        font-size: 20px;
        margin: 20px;
    }
    .navbar-input,
    .navbar-close {
        display: none;
    }
    .navbar-input:checked~.navbar-close {
        display: block;
        color: var(--color-terciary);
    }
    .navbar-input:checked~.navbar-open {
        display: none;
    }
    .navbar-contet {
        display: none;
    }
    .navbar-input:checked~.navbar-contet {
        display: flex;
        flex-direction: column;
    }
    .navbar-input:checked~.navbar-contet {
        display: flex;
        margin: 20px;
    }
    .navbar-contet i {
        color: var(--color-terciary);
        margin-right: 20px;
    }
    .navbar-contet a {
        height: 32px;
        font-size: 18px;
        text-decoration: none;
        color: #FFFFFF;
        margin: 8px 0;
    }
    .titulo-principal {
        text-align: center;
    }
    .sobre-mi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sobre-mi img {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .contenido-sobremi {
        display: flex;
        flex-direction: column;
    }
    .descripcion-sobremi {
        width: initial;
    }
    .curriculum {
        margin-bottom: 20px;
    }
    .card-skills {
        width: 100%;
    }
    .cards-servicios {
        flex-direction: column;
    }
    .servicios {
        margin: 0 0 20px 0;
        padding: 40px 30px;
        width: 100%;
    }
    .servicios:last-child {
        margin-bottom: 0;
    }
    .container-estudios {
        flex-direction: column;
    }
    .card-estudios {
        margin: 0 0 20px 0;
        width: 100%;
    }
    .card-trabajos {
        width: 100%;
    }
    .works-container button {
        margin-left: 30%;
    }
    .container-contacto {
        flex-direction: column;
        width: 100%;
    }
    .container-descripcion-contacto {
        flex-direction: row;
        width: 100%;
    }
    .formulario {
        width: 100%;
    }
    .formulario-input {
        flex-direction: column;
    }
    .formulario-input>label {
        margin-bottom: 20px;
    }
    .formulario-input>label:last-child {
        margin-bottom: 10px;
    }
    .footer {
        padding: 0 20px;
    }
}
